  <ion-content class="seven-day-pane" on-swipe-right="transitionToToday()">
    <div class="content-wrapper">      
      <div class="day-cards">

	<div class="row card" ng-repeat="day in week.dayName">
	  <div class="row-day">
	    {{ week.dayName[$index] | limitTo: 3 }}
	  </div>
	  <div class="row-icon">
	    <i class="icon {{ dayIcon[$index] }}"></i>
	  </div>
	  <div class="row-summary">
	    {{ place.daily.data[$index].summary }}
	  </div>
	  <div class="row-temp">
	    {{ place.daily.data[$index].temperatureMax }}&deg;/{{ place.daily.data[$index].temperatureMin }}&deg;
	  </div>
	  
	</div>
		
      </div>
    </div>
    	<button class="button button-royal" ng-click="openPopover($event)">Graph it!</button>

  </ion-content>
    <script src="/js/site.js"></script>
