  <ion-content class="currently-pane" on-swipe-left="transitionToSevenDay()">
      <div class="content-wrapper">
	<div class="currently">
	  Currently
	</div>
	<div class="temp">
	  {{ place.currently.temperature }} &deg; {{ unit }}
	</div>
	<div class="today-icon">
	 <i class="icon {{ dayIcon[0] }}"></i>
	</div>
	<div class ="place">
	  Wenham, MA
	</div>

	<button class="button" ng-click="openPopover($event)">Graph it!</button>
	<button class="button"  ng-click="changeTemp()" >Toggle Units (&degF/&degC)</button>
      </div>
      
      
      
  </ion-content>

