/* .content-wrapper */
/* { */
/*     text-align: center; */
/* } */
/* .col */
/* { */
/*     text-align: center; */
/* } */
/* .col > .list > .item */
/* { */
/*     font-size: 0.9em; */
/*     white-space: normal; */
/* } */

/* .myChart */
/* { */
/*     padding: 5px; */
/*     padding-top: 20px; */
/*     width:100%; */
/*     height:auto; */
/* } */

/* .card */
/* { */
/*     width: 90% auto !important; */
/*     margin: 0 !important; */
/* } */

/* .currently */
/* { */
/*     font-size: 200%; */
/*     text-align: center; */
/*     color: #929fb1; */
    
/* } */
/* .temp */
/* { */
/*     font-weight: bold; */
/*     font-size: 240%; */
/*     color: #fdb45c; */
/* } */
/* .home, .summary */
/* { */
/*     color: #4d5360; */

/* } */
/* .col .card .item span */
/* { */
/*     color: #028989; */
/* } */

.currently-pane
{
    background-color: #006E90;
    text-align: center;
}

.seven-day-pane
{
    background-color: #006E90;
    text-align: center;
}

.content-wrapper
{
    
    
}
.currently, .temp, .today-icon, .place
{
    color: #ADCAD6;
    font-size: 4em;
    line-height: normal;
    width: 95%;
    margin: 40px auto;
}

.day-cards
{
    margin: 3%;
}

.row
{
    background-color: #006E90;
    border: 1px solid white;
    color: #fffcf9;
    height: 65px;
    border-left: 10px solid #ff6978;
    margin: 10px 0;
}

.row .row-day
{

    width: 50%;
    line-height: normal;
    font-size: 1.5em;
}

.row .row-icon
{

    width: 50%;
    line-height: normal;
    font-size: 3em;
}

.row .row-summary
{
    display: none;
    width: 50%;
    line-height: normal;
    font-size: 1em;
}
.row .row-temp
{
    line-heights: normal;
    display: none;
    width: 50%;
    font-size: 1.5em;
}
.pop
{
    width: 300px;
}

.pop canvas
{
    padding: 10px;
    width: 100%;
    height: 220px;
}
